#zoombox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.in {
    opacity: 1;
  }

  & > .zoombox-close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;

    text-align: center;
    line-height: 30px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10000;

    color: #333;
  }

  & > .zoombox-inner {
    overflow: hidden;
    margin: 15px;
    height: calc(100% - 30px);

    @media (min-width: 768px) {
      margin: 25px 50px;
      height: calc(100% - 50px);
    }

    & > img.zoombox-image {
      max-width: 100%;
      height: auto;
    }

    .slick-slide {
      float: left;
      margin: 0 5px;
    }

    .slick-arrow {
      position: absolute;
      top: calc(50% - 25px);
      height: 50px;
      width: 40px;
      padding: 0;
      z-index: 1;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;

      &.slick-prev {
        left: 0;
      }

      &.slick-next {
        right: 0;
      }

      & > svg {
        max-height: 100%;
        width: auto;
      }
    }
  }

  &.theme-lightest {
    background-color: rgba(255,255,255,0.7);

    & > .zoombox-close-btn {
      color: #333333;
    }

    & .slick-arrow > svg {
      fill: #333333;
    }
  }

  &.theme-lighter {
    background-color: rgba(255,255,255,0.5);

    & > .zoombox-close-btn {
      color: #3a3a3a;
    }

    & .slick-arrow > svg {
      fill: #3a3a3a;
    }
  }

  &.theme-light {
    background-color: rgba(255,255,255,0.3);

    & .slick-arrow > svg {
      fill: #333;
    }
  }

  &.theme-dark {
    background-color: rgba(0,0,0,0.3);

    & .slick-arrow > svg {
      fill: #333;
    }
  }

  &.theme-darker {
    background-color: rgba(0,0,0,0.5);

    & > .zoombox-close-btn {
      color: #dbdbdb;
    }

    & .slick-arrow > svg {
      fill: #dbdbdb;
    }
  }

  &.theme-darkest {
    background-color: rgba(0,0,0,0.7);

    & > .zoombox-close-btn {
      color: #e5e5e5;
    }

    & .slick-arrow > svg {
      fill: #e5e5e5;
    }
  }
}

.zoombox {
  cursor: pointer;
}
