#zoombox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.in {
    opacity: 1;
  }

  & > .zoombox-close-btn {
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 30px;
    cursor: pointer;
  }

  & > .zoombox-inner {

    & > img.zoombox-image {

    }
  }
}
